<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>AutoML Hub</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">

            <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Include Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
    /* Custom CSS to adjust flash message height */
        .alert {
            max-width: 330px; /* Adjust maximum width as needed */
            max-height: 40px; /* Adjust maximum height as needed */
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 2px 2px 2px 2px;
            font-size: 14px; /* Adjust font size as needed */
        }
    </style>

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/home" class="logo d-flex align-items-center">
            <img src="/static/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">AutoML Hub</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
    </header>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="/home">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->
        </ul>
    </aside>





    <main id="main" class="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section dashboard">
            <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-9">
                    <div class="row">
                        <!-- upload file-->
                        <div class="col-12">
                            <div class="card info-card customers-card">
                                <div class="card-body">
                                    <h5 class="card-title">Select variables </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-check2-circle"></i>
                                        </div>
                                        <div class="ps-3">
                                            <form method="POST" action="/select_variables" enctype="multipart/form-data">
                                                <div>
                                                    <label for="output_variable"><b>Select Output Variable:</b></label>
                                                        <select name="output_variable" id="output_variable">
                                                            {% for field in selectable_fields %}
                                                                <option value="{{ field }}">{{ field }}</option>
                                                            {% endfor %}
                                                        </select>
                                                </div>
                                                <div>
                                                    <label for="input_variables"><b>Select Input Variables:</b></label>
                                                    {% for field in selectable_fields %}
                                                    <div>
                                                        <input type="checkbox" name="input_variables" id="input_variables" value="{{ field }}">
                                                        <label for="input_variables">{{ field }} ({{ selectable_fields[field] }})</label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <br>
                                                <div>
                                                    <label for="non_selectable_variables"><b>Non selectable Variables:</b><p><span style="color: red;">These fields have too many categories</span></p></label>
                                                    {% for field in non_selectable_fields %}
                                                    <div>
                                                        <input type="checkbox" name="non_selectable_variables" id="non_selectable_variables" disabled>
                                                        <label for="non_selectable_variables">{{ field }} ({{ non_selectable_fields[field] }})</label>
                                                    </div>
                                                    {% endfor %}
                                                </div>

                                                <div>
                                                <button type="submit" value = "submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--End file uplaod-->
                    </div>
                </div>

            </div>
        </section>
    </main>
    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/apexcharts/apexcharts.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/static/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/static/assets/vendor/quill/quill.min.js"></script>
    <script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/static/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/assets/js/main.js"></script>
</body>









